.form__button_type_confirm {
    margin: 38px auto 37px auto;
}

@media screen and (max-width:767px) {
    .form__button_type_confirm {
        height: 46px;
        max-width: 238px;
        width: 100%;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 17px;
    }
}