.card__like-button {
    cursor: pointer;
    border: none;
    background-color: white;
    padding: 0;
    align-self: center;
    justify-self: end;
    grid-area: button;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/photo-grid-like-button.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}


.card__like-button:hover {
    opacity: .5;
    transition: .4s;
}